.btn {
	// .btn_orange
	&_orange {
		position: relative;
		border-radius: 0;
		background: #f19801;
		color: $white;
		border: 0;
		line-height: 1;

		@include on-event {
			color: $white;
		}
	}

	// .btn_arrow
	&_arrow {
		display: flex;
		align-items: center;
		width: fit-content;

		&::after {
			content: "";
			display: block;
			margin-left: 5px;
			width: 15px;
			height: 15px;
			flex: 0 0 15px;
			background: $svg-arrow-white center no-repeat;
			transition: all $transition-default;
			margin-bottom: 1px;
		}

		@include on-hover {
			&::after {
				transform: translateX(3px);
			}
		}
	}
}

.link-all {
	display: inline-block;
	color: #f19801;
	font-size: 20px;
	border: 1px solid;
	padding: 2px 15px;
	border-radius: 3px;

	@include on-hover {
		color: #fff;
		background: #f19801;
	}

	@include when-inside(".bgr-orange") {
		color: #333;
	}

	@include when-inside('.slider-header') {
		margin-left: 0;
	}
}

.controls {
	display: flex;
	gap: 14px;
	--icon: #{$svg-arrow-orange};

	@include when-inside(".bgr-orange") {
		--icon: #{$svg-arrow-white};
	}

	.prev,
	.next {
		width: 35px;
		height: 35px;
		background: var(--icon) center no-repeat;
		cursor: pointer;
		transition: all $transition-default;

		&[aria-disabled="true"] {
			opacity: 0.5;
			cursor: default;

			@include on-hover {
				.prev {
					transform: scale(-1) translateX(0);
				}
				.next {
					transform: translateX(0);
				}
			}
		}
	}

	.prev {
		transform: scale(-1);

		@include on-hover {
			transform: scale(-1) translateX(3px);
		}
	}

	.next {
		@include on-hover {
			transform: translateX(3px);
		}
	}
}
