// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//** Fonts
/// Headers font family
/// @type List
$family-headers: "TT Firs Neue", "Roboto", "Helvetica", "Open Sans", "Arial", sans-serif !default;

/// Regular font family
/// @type List
$family-text: "Roboto", "Helvetica", "Open Sans", "Arial", sans-serif !default;

/// Monospace font family
/// @type List
// $ff-mono: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace !default;

/// Default font size for rem() function (body font-size 100%)
$browser-context: 16;

//** Colors --var
/// Simple colors
/// @type Color
$black: var(--black);
$white: var(--white);
$gray: var(--gray);
$red: #f12711;
$error: #f12711;


/// Main brand color
/// @type Color
$brand-color-primary: #05486e !default;
$brand-color-primary-lighten: lighten($brand-color-primary, 30%);
$brand-color-primary-darken: darken($brand-color-primary, 10%);

$brand-color-secondary: #00748b !default;
$brand-color-secondary-lighten: lighten($brand-color-secondary, 20%);
$brand-color-secondary-darken: darken($brand-color-secondary, 10%);

$brand-color-accent: #e35833 !default;

/// Text color
/// @type Color
$text-color: $black;
$href-color: $black;
$href-color-hover: $black;

/// Form colors
/// @type Color
$placeholder-color: $black;
$input-color: $black;

/// Transitions
$transition-default: 250ms ease-in-out;

/// Container's maximum width + paddings
/// @type Length
$min-width: 320px !default;
$max-width: 1440px !default;
$min-padding: 15px !default;
$max-padding: 30px !default;

//** Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
	"xs": 375px,
	"sm": 425px,
	"xm": 577px,
	"md": 768px,
	"lg": 1024px,
	"xl": 1280px,
	"hd": 1440px,
	"fhd": 1920px,
) !default;

/// Icons base64
// $menu-arrow-white: "data:image/svg+xml;base64,.....";
