.navbar-toggler:focus,
a:focus,
input:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn.focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
	text-decoration: none;
	outline: none !important;
	border-color: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

span,
a {
	display: inline-block;
	text-decoration: none;
	transition: all 0.4s ease;
	color: #345;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	color: #111;
	font-weight: 600;
	margin: 0;
	line-height: 1.3;
	font-family: $family-headers;
	transition: all linear 0.3s;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
	color: inherit;
}

h2,
.h2 {
	font-size: 40px;
	line-height: 1;
}

h3,
.h3 {
	font-size: 30px;
}

h4,
.h4 {
	font-size: 25px;
}

h5,
.h5 {
	font-size: 20px;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@media (max-width: 767px) {
	.container {
		width: 100%;
		max-width: none;
	}
}

:root {
	--main-color-one: #f12711;
	--main-color-two: #015eea;
}

/* Spacing */
.mt-5 {
	margin-top: 5px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-25 {
	margin-top: 25px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-35 {
	margin-top: 35px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-45 {
	margin-top: 45px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-55 {
	margin-top: 55px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-65 {
	margin-top: 65px;
}

.mt-70 {
	margin-top: 70px;
}

.mt-75 {
	margin-top: 75px;
}

.mt-80 {
	margin-top: 80px;
}

.mt-85 {
	margin-top: 85px;
}

.mt-90 {
	margin-top: 90px;
}

.mt-95 {
	margin-top: 95px;
}

.mt-100 {
	margin-top: 100px;
}

.mt-105 {
	margin-top: 105px;
}

.mt-110 {
	margin-top: 110px;
}

.mt-115 {
	margin-top: 115px;
}

.mt-120 {
	margin-top: 120px;
}

.mt-125 {
	margin-top: 125px;
}

.mt-130 {
	margin-top: 130px;
}

.mt-135 {
	margin-top: 135px;
}

.mt-140 {
	margin-top: 140px;
}

.mt-145 {
	margin-top: 145px;
}

.mt-150 {
	margin-top: 150px;
}

.mt-155 {
	margin-top: 155px;
}

.mt-160 {
	margin-top: 160px;
}

.mt-165 {
	margin-top: 165px;
}

.mt-170 {
	margin-top: 170px;
}

.mt-175 {
	margin-top: 175px;
}

.mt-180 {
	margin-top: 180px;
}

.mt-185 {
	margin-top: 185px;
}

.mt-190 {
	margin-top: 190px;
}

.mt-195 {
	margin-top: 195px;
}

.mt-200 {
	margin-top: 200px;
}

.mt-205 {
	margin-top: 205px;
}

.mt-210 {
	margin-top: 210px;
}

.mt-215 {
	margin-top: 215px;
}

.mt-220 {
	margin-top: 220px;
}

.mt-225 {
	margin-top: 225px;
}

.mb-5 {
	margin-bottom: 5px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-25 {
	margin-bottom: 25px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-35 {
	margin-bottom: 35px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-45 {
	margin-bottom: 45px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-55 {
	margin-bottom: 55px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-65 {
	margin-bottom: 65px;
}

.mb-70 {
	margin-bottom: 70px;
}

.mb-75 {
	margin-bottom: 75px;
}

.mb-80 {
	margin-bottom: 80px;
}

.mb-85 {
	margin-bottom: 85px;
}

.mb-90 {
	margin-bottom: 90px;
}

.mb-95 {
	margin-bottom: 95px;
}

.mb-100 {
	margin-bottom: 100px;
}

.mb-105 {
	margin-bottom: 105px;
}

.mb-110 {
	margin-bottom: 110px;
}

.mb-115 {
	margin-bottom: 115px;
}

.mb-120 {
	margin-bottom: 120px;
}

.mb-125 {
	margin-bottom: 125px;
}

.mb-130 {
	margin-bottom: 130px;
}

.mb-135 {
	margin-bottom: 135px;
}

.mb-140 {
	margin-bottom: 140px;
}

.mb-145 {
	margin-bottom: 145px;
}

.mb-150 {
	margin-bottom: 150px;
}

.mb-155 {
	margin-bottom: 155px;
}

.mb-160 {
	margin-bottom: 160px;
}

.mb-165 {
	margin-bottom: 165px;
}

.mb-170 {
	margin-bottom: 170px;
}

.mb-175 {
	margin-bottom: 175px;
}

.mb-180 {
	margin-bottom: 180px;
}

.mb-185 {
	margin-bottom: 185px;
}

.mb-190 {
	margin-bottom: 190px;
}

.mb-195 {
	margin-bottom: 195px;
}

.mb-200 {
	margin-bottom: 200px;
}

.mb-205 {
	margin-bottom: 205px;
}

.mb-210 {
	margin-bottom: 210px;
}

.mb-215 {
	margin-bottom: 215px;
}

.mb-220 {
	margin-bottom: 220px;
}

.mb-225 {
	margin-bottom: 225px;
}

.pt-5 {
	padding-top: 5px;
}

.pt-10 {
	padding-top: 10px;
}

.pt-15 {
	padding-top: 15px;
}

.pt-20 {
	padding-top: 20px;
}

.pt-25 {
	padding-top: 25px;
}

.pt-30 {
	padding-top: 30px;
}

.pt-35 {
	padding-top: 35px;
}

.pt-40 {
	padding-top: 40px;
}

.pt-45 {
	padding-top: 45px;
}

.pt-50 {
	padding-top: 50px;
}

.pt-55 {
	padding-top: 55px;
}

.pt-60 {
	padding-top: 60px;
}

.pt-65 {
	padding-top: 65px;
}

.pt-70 {
	padding-top: 70px;
}

.pt-75 {
	padding-top: 75px;
}

.pt-80 {
	padding-top: 80px;
}

.pt-85 {
	padding-top: 85px;
}

.pt-90 {
	padding-top: 90px;
}

.pt-95 {
	padding-top: 95px;
}

.pt-100 {
	padding-top: 100px;
}

.pt-105 {
	padding-top: 105px;
}

.pt-110 {
	padding-top: 110px;
}

.pt-115 {
	padding-top: 115px;
}

.pt-120 {
	padding-top: 120px;
}

.pt-125 {
	padding-top: 125px;
}

.pt-130 {
	padding-top: 130px;
}

.pt-135 {
	padding-top: 135px;
}

.pt-140 {
	padding-top: 140px;
}

.pt-145 {
	padding-top: 145px;
}

.pt-150 {
	padding-top: 150px;
}

.pt-155 {
	padding-top: 155px;
}

.pt-160 {
	padding-top: 160px;
}

.pt-165 {
	padding-top: 165px;
}

.pt-170 {
	padding-top: 170px;
}

.pt-175 {
	padding-top: 175px;
}

.pt-180 {
	padding-top: 180px;
}

.pt-185 {
	padding-top: 185px;
}

.pt-190 {
	padding-top: 190px;
}

.pt-195 {
	padding-top: 195px;
}

.pt-200 {
	padding-top: 200px;
}

.pt-205 {
	padding-top: 205px;
}

.pt-210 {
	padding-top: 210px;
}

.pt-215 {
	padding-top: 215px;
}

.pt-220 {
	padding-top: 220px;
}

.pt-225 {
	padding-top: 225px;
}

.pb-5 {
	padding-bottom: 5px;
}

.pb-10 {
	padding-bottom: 10px;
}

.pb-15 {
	padding-bottom: 15px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pb-25 {
	padding-bottom: 25px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pb-35 {
	padding-bottom: 35px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pb-45 {
	padding-bottom: 45px;
}

.pb-50 {
	padding-bottom: 50px;
}

.pb-55 {
	padding-bottom: 55px;
}

.pb-60 {
	padding-bottom: 60px;
}

.pb-65 {
	padding-bottom: 65px;
}

.pb-70 {
	padding-bottom: 70px;
}

.pb-75 {
	padding-bottom: 75px;
}

.pb-80 {
	padding-bottom: 80px;
}

.pb-85 {
	padding-bottom: 85px;
}

.pb-90 {
	padding-bottom: 90px;
}

.pb-95 {
	padding-bottom: 95px;
}

.pb-100 {
	padding-bottom: 100px;
}

.pb-105 {
	padding-bottom: 105px;
}

.pb-110 {
	padding-bottom: 110px;
}

.pb-115 {
	padding-bottom: 115px;
}

.pb-120 {
	padding-bottom: 120px;
}

.pb-125 {
	padding-bottom: 125px;
}

.pb-130 {
	padding-bottom: 130px;
}

.pb-135 {
	padding-bottom: 135px;
}

.pb-140 {
	padding-bottom: 140px;
}

.pb-145 {
	padding-bottom: 145px;
}

.pb-150 {
	padding-bottom: 150px;
}

.pb-155 {
	padding-bottom: 155px;
}

.pb-160 {
	padding-bottom: 160px;
}

.pb-165 {
	padding-bottom: 165px;
}

.pb-170 {
	padding-bottom: 170px;
}

.pb-175 {
	padding-bottom: 175px;
}

.pb-180 {
	padding-bottom: 180px;
}

.pb-185 {
	padding-bottom: 185px;
}

.pb-190 {
	padding-bottom: 190px;
}

.pb-195 {
	padding-bottom: 195px;
}

.pb-200 {
	padding-bottom: 200px;
}

.pb-205 {
	padding-bottom: 205px;
}

.pb-210 {
	padding-bottom: 210px;
}

.pb-215 {
	padding-bottom: 215px;
}

.pb-220 {
	padding-bottom: 220px;
}

.pb-225 {
	padding-bottom: 225px;
}

.pr-10 {
	padding-right: 10px;
}

.pl-10 {
	padding-left: 10px;
}

/* Contact form success message */
#form-messages {
	color: green;
}

/*Bootstrap default class customize*/
.text-primary {
	color: var(--main-color-one) !important;
}

.list-group-item {
	border: none;
	padding: 5px 0;
	font-size: 16px;
}

table tr td,
th {
	font-size: 16px;
	padding: 15px !important;
}

.bg-primary {
	background: var(--main-color-two) !important;
}

/*Section title*/
.section-title h6 {
	color: var(--main-color-two);
	text-transform: uppercase;
}

.section-title h2 {
	margin: 10px 0 20px 0;
	color: #111;
}

.section-title p {
	font-size: 17px;
	font-weight: 500;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	h2,
	.h2 {
		font-size: 30px;
		line-height: 40px;
	}
	.section-title {
		h5,
		.h5 {
			font-size: 20px;
		}
		h2,
		.h2 {
			font-size: 30px;
		}
		p {
			font-size: 15px;
		}
	}
}

@media (max-width: 767px) {
	h2,
	.h2 {
		font-size: 26px;
		line-height: 35px;
	}
	.section-title {
		h5,
		.h5 {
			font-size: 18px;
		}
		h2,
		.h2 {
			font-size: 26px;
		}
		p {
			font-size: 14px;
		}
	}
}

.overlay {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
	padding: 150px 0 50px;

	@media (min-width: 768px) {
		padding: 350px 0 50px;
	}
}

.bgr-orange {
	background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
	background: linear-gradient(to right, #f19801, #ffbb00);
	padding: 45px 0 30px;
}

.bgr-gray {
	background: #f4f4f4;
}

//** banner
.header-inner {
	background: url(../img/oebg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	.text-light,
	h1,
	.h1 {
		max-width: 850px;
		margin: 0 auto;
		font-size: 26px;
		line-height: 1.2;

		@media (min-width: 768px) {
			font-size: 48px;
		}
	}
}

//** scroll-top
.scroll-top {
	width: 45px;
	height: 45px;
	background: #f19801;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 30px;
	right: 30px;
	opacity: 0;
	z-index: -1;
	cursor: pointer;
	transition: all 0.3s ease-out 0s;
	border-radius: 5px;
	border: 0;

	&::after {
		border-color: $white;
		border-bottom-style: solid;
		border-bottom-width: 2px;
		border-right-style: solid;
		border-right-width: 2px;
		content: "";
		height: 12px;
		width: 12px;
		margin-top: 5px;
		transform: rotate(225deg);
	}

	@include on-hover {
		transform: translate3d(0, -5px, 0);
		background-color: var(--main-color-one);
	}

	&.is-visible {
		opacity: 1;
		z-index: 10000;
	}
}

/* Preloader CSS */
#preloader {
	position: fixed;
	overflow: hidden;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 99999;
	background: $white;
	/* opacity: 0; */
	/* display: none; */
}

.iddrak-load {
	-webkit-animation: preload 1000ms linear infinite;
	animation: preload 1000ms linear infinite;
	background-color: transparent;
	border-color: var(--main-color-two);
	border-top-color: var(--main-color-two);
	border-left-color: $white;
	border-right-color: $white;
	border-radius: 50%;
	border-style: solid;
	border-width: 3px;
	height: 50px;
	left: calc(50% - 25px);
	position: relative;
	top: calc(50% - 25px);
	width: 50px;
	z-index: 9;
}

@-webkit-keyframes preload {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes preload {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* -------------------------------------
		Header section
------------------------------------- */
.header {
	width: 100%;
	background: transparent;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header {
		padding: 18px 0 !important;
	}
	.header .mobile-menu-btn .toggler-icon {
		background-color: $white;
	}
	.header .button {
		margin: 0 !important;
	}
	.header .navbar-collapse {
		position: absolute;
		top: 63px !important;
		left: 0;
		width: 100%;
		background-color: $white;
		z-index: 9;
		-webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
		padding: 10px 20px;
		max-height: 350px;
		overflow-y: scroll;
		border-top: 1px solid #eee;
		border-radius: 0 0 10px 10px;
	}
	.header .navbar .navbar-nav .nav-item a:hover {
		color: var(--main-color-one) !important;
	}
	.header .navbar .navbar-nav .nav-item a.active {
		color: var(--main-color-one) !important;
	}
	.header .navbar-nav .nav-item {
		margin: 0;
	}
	.header .navbar-nav .nav-item:hover a {
		color: var(--main-color-one);
	}
	.header .navbar-nav .nav-item a {
		padding: 10px 16px !important;
	}
	.header .navbar-nav .nav-item a::before {
		display: none;
	}
	.header .navbar-nav .nav-item .sub-menu {
		position: static;
		width: 100%;
		opacity: 1;
		visibility: visible;
		-webkit-box-shadow: none;
		box-shadow: none;
		padding: 0;
		border: none;
		margin-left: 15px;
		margin-right: 15px;
	}
	.header .navbar-nav .nav-item .sub-menu .nav-item a {
		padding: 12px 12px;
	}
	.header .navbar-nav .nav-item .sub-menu .nav-item a:hover {
		color: var(--main-color-one) !important;
	}
	.header .navbar-nav .nav-item a {
		color: #555;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 10px 0;
	}
	.header .navbar-nav .nav-item a::after {
		opacity: 1;
		visibility: visible;
	}
	.header .navbar-nav .nav-item .sub-menu li.active {
		background: $white !important;
		color: var(--main-color-two) !important;
	}
	.header .navbar-nav .nav-item .sub-menu .nav-item {
		margin: 0 !important;
	}
	.header .navbar-nav .nav-item .sub-menu .nav-item a {
		padding: 10px 12px !important;
	}
	.header .navbar-nav .nav-item .sub-menu li:hover {
		background: $white !important;
		color: var(--main-color-one) !important;
	}
	.header .navbar-nav .nav-item a {
		font-size: 14px;
	}
	.header .navbar-nav .nav-item a:hover {
		color: var(--main-color-one);
	}
}

@media (max-width: 767px) {
	.header {
		padding: 0 0 !important;
	}
	.header .mobile-menu-btn .toggler-icon {
		background-color: $white;
	}
	.header .navbar-collapse {
		position: absolute;
		top: 100% !important;
		left: 0;
		width: auto;
		background-color: $white;
		z-index: 9;
		-webkit-box-shadow: 0 15px 20px 0 rgb(0 0 0 / 10%);
		box-shadow: 0 15px 20px 0 rgb(0 0 0 / 10%);
		padding: 10px 20px;
		max-height: 550px;
		max-height: 90vh;
		overflow-y: scroll;
		border-top: 1px solid #eee;
		margin-left: -12px;
		margin-right: -12px;
	}
	.header .navbar .navbar-nav .nav-item a:hover {
		color: var(--main-color-one) !important;
	}
	.header .navbar .navbar-nav .nav-item a.active {
		color: var(--main-color-one) !important;
	}
	.header .navbar-nav .nav-item {
		margin: 0;
		flex: 100% 0 0;
	}
	.header .navbar-nav .nav-item:hover a {
		color: var(--main-color-two);
	}
	.header .navbar-nav .nav-item a {
		padding: 10px 16px !important;
	}
	.header .navbar-nav .nav-item a::before {
		display: none;
	}
	.header .navbar-nav .nav-item .sub-menu {
		position: static;
		width: 100%;
		opacity: 1;
		visibility: visible;
		-webkit-box-shadow: none;
		box-shadow: none;
		padding: 0;
		border: none;
		margin-left: 15px;
		margin-right: 15px;
	}
	.header .navbar-nav .nav-item .sub-menu .nav-item a {
		padding: 12px 12px;
	}
	.header .navbar-nav .nav-item .sub-menu .nav-item a:hover {
		color: var(--main-color-two) !important;
	}
	.header .navbar-nav .nav-item a {
		color: #555;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 10px 0;
	}
	.header .navbar-nav .nav-item a::after {
		opacity: 1;
		visibility: visible;
	}
	.header .navbar-nav .nav-item .sub-menu li.active {
		background: $white !important;
		color: var(--main-color-two) !important;
	}
	.header .navbar-nav .nav-item .sub-menu .nav-item {
		margin: 0 !important;
	}
	.header .navbar-nav .nav-item .sub-menu .nav-item a {
		padding: 10px 12px !important;
	}
	.header .navbar-nav .nav-item .sub-menu li:hover {
		background: $white !important;
		color: var(--main-color-two) !important;
	}
	.header .navbar-nav .nav-item a {
		font-size: 14px;
	}
	.header .navbar-nav .nav-item a:hover {
		color: var(--main-color-two);
	}
}

@media (max-width: 767px) {
	.header .button {
		display: none;
	}
}

.header .navbar-brand img {
	width: 170px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header .navbar-brand img {
		width: 160px;
	}
}

@media (max-width: 767px) {
	.header .navbar-brand img {
		width: 120px;
	}
}

.header.sticky .navbar-brand .white-logo {
	opacity: 0;
	visibility: hidden;
}

.header.sticky .navbar-brand .dark-logo {
	opacity: 1;
	visibility: visible;
}

.header.sticky .button .btn {
	background-color: var(--main-color-two);
	color: $white;
	border-color: transparent;
}

.header.sticky .button .btn:hover {
	background-color: var(--main-color-one);
	color: $white;
}

.navbar-expand-lg .navbar-nav {
	align-items: center;
	margin: 0;
	white-space: nowrap;
	flex-flow: row wrap;
}

.demo-nav .navbar-expand-lg .navbar-nav {
	margin-left: auto !important;
	margin-right: 60px !important;
}

.header .navbar .navbar-nav .nav-item a.active {
	color: var(--main-color-one);
}

.sticky .navbar .navbar-nav .nav-item a.active {
	color: var(--main-color-one);
}

.sticky .navbar .navbar-nav .nav-item a {
	color: #555;
}

.header .navbar .navbar-nav .nav-item .sub-menu a.active {
	color: $white;
}

.sticky .navbar .navbar-nav .nav-item .sub-menu a.active {
	color: $white;
}

.sticky .navbar .mobile-menu-btn .toggler-icon {
	background: #333;
}

/*===== NAVBAR =====*/
.navbar-area {
	width: 100%;
	z-index: 1000;
	-webkit-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	padding: 0;
	background: transparent; /*#F19801;*/
}

.navbar-area.sticky {
	position: fixed;
	z-index: 1000;
	background: var(--main-color-two);
	-webkit-box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.05);
	-webkit-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	background: $white;
	padding: 0 0;
}

.navbar {
	padding: 0;
	position: relative;
	-webkit-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

.navbar-brand {
	padding-left: 0;
	border-radius: 0;
}

.mobile-menu-btn {
	padding: 0;
}

.mobile-menu-btn:focus {
	text-decoration: none;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.mobile-menu-btn .toggler-icon {
	width: 30px;
	height: 2px;
	background-color: #111;
	display: block;
	margin: 5px 0;
	position: relative;
	-webkit-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 7px;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(2) {
	opacity: 0;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(3) {
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	top: -7px;
}

.navbar-nav .nav-item {
	position: relative;
	margin-right: 20px;
}

.navbar-nav .nav-item:last-child {
	margin-right: 0 !important;
}

.navbar-nav .nav-item:hover a {
	color: var(--main-color-one);
}

.sticky .navbar-nav .nav-item:hover a {
	color: var(--main-color-one);
}

.navbar-nav .nav-item a {
	color: $white;
	transition: all 0.3s ease-out 0s;
	position: relative;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	transition: all 0.3s ease-out 0s;
	position: relative;
	letter-spacing: 0.3px;
}

.navbar-nav .nav-item a::after {
	opacity: 1;
	visibility: visible;
}

.navbar-nav .nav-item:hover a:before {
	width: 100%;
}

.navbar-nav .nav-item a.active {
	color: var(--main-color-one);
}

.navbar-nav .nav-item:hover > .sub-menu {
	top: 100%;
	opacity: 1;
	z-index: 1;
	visibility: visible;
}

.navbar-nav .nav-item:hover > .sub-menu .sub-menu {
	left: 100%;
	top: 0;
}

.navbar-nav .nav-item .sub-menu {
	padding: 20px;
	min-width: 240px;
	background: $white;
	-webkit-box-shadow: 0 5px 20px #0000001a;
	box-shadow: 0 5px 20px #0000001a;
	position: absolute;
	top: 110% !important;
	left: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	border-radius: 0 0 4px 4px;
	border-radius: 5px;
}

.navbar-nav .nav-item:hover .sub-menu {
	top: 100% !important;
}

.navbar-nav .nav-item .sub-menu .nav-item {
	width: 100%;
	margin-bottom: 15px;
}

.navbar-nav .nav-item .sub-menu .nav-item:last-child {
	margin: 0;
}

.navbar-nav .nav-item .sub-menu .nav-item a {
	padding: 0;
	color: #555;
	display: block;
	width: 100%;
	position: relative;
	z-index: 1;
	border-radius: 4px;
	overflow: hidden;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
	white-space: nowrap;
}

.navbar-nav .nav-item .sub-menu .nav-item a:hover {
	color: var(--main-color-one);
}

.navbar-nav .nav-item .sub-menu.left-menu {
	left: -100%;
}

.navbar-nav .nav-item .sub-menu.collapse:not(.show) {
	display: block;
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
	.navbar-nav .nav-item .sub-menu.collapse:not(.show) {
		display: none;
	}
}

.navbar-nav .nav-item .sub-menu > li {
	display: block;
	margin-left: 0;
}

.navbar-nav .nav-item .sub-menu > li:last-child {
	border: none;
}

.navbar-nav .nav-item .sub-menu > li.active > a {
	color: var(--main-color-two) !important;
}

.navbar-nav .nav-item .sub-menu > li > a {
	font-weight: 400;
	display: block;
	padding: 12px 15px;
	color: #111;
	font-weight: 400;
}

.navbar-nav .nav-item .sub-menu > li:first-child a {
	border: none;
}

/* -------------------------------------
		Hero Section
------------------------------------- */
.person.person_main {
	position: relative;
	background: url(../img/mainsl01.jpg) center / cover no-repeat;
}

.person.person_main .person__overlay {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
	padding: 100px 0 50px;

	@media (min-width: 768px) {
		padding: 100px 0;
	}

	@media (min-width: 992px) {
		padding: 200px 0;
	}
}

.person .hero-content {
	max-width: 900px;
	text-align: center;
}

.person .hero-content h1 {
	font-size: 26px;
	text-align: right;
	max-width: 50%;
	margin-left: 50%;
	color: var(--main-color-one);

	@media (min-width: 768px) {
		line-height: 1;
		text-align: center;
		max-width: none;
		margin: 0;
	}

	@media (min-width: 992px) {
		font-size: 30px;
	}
}

.person .hero-content h3 {
	font-size: 14px;
	margin: 10px 0 30px;
	text-align: right;
	color: $white;

	@media (min-width: 768px) {
		color: #333;
		font-size: 24px;
		text-align: center;
		font-weight: 500;
		line-height: 1.3;
		text-transform: uppercase;
		margin: 30px 0;
	}
}

.person .hero-content .title {
	color: #333;
	font-size: 16px;
	text-align: right;
	display: block;

	@media (min-width: 1200px) {
		font-weight: 500;
	}
}

.person .hero-content .sub_title {
	color: $white;
	font-size: 12px;
	line-height: 1.4;
	margin-top: 5px;
	text-align: right;
	display: block;

	@media (min-width: 768px) {
		color: #333;
		font-size: 14px;
		font-weight: 500;
	}

	@media (min-width: 992px) {
		font-size: 16px;
	}
}

/* max with 767px */
@media only screen and (max-width: 767px) {
	.person .hero-content .title {
		color: $white;
		font-size: 14px;
		text-align: right;
	}

	.person .hero-content .title b {
		font-weight: 500;
	}
}


.about {
	// .about__img
	&__img {
		position: relative;

		img {
			border-radius: 50%;
		}
	}
	// .about__content
	&__content {
	}
	// .about__pre
	&__pre {
		font-family: $family-headers;
		font-weight: 600;
		color: var(--main-color-two);
		text-transform: uppercase;
	}
	// .about__h
	&__h {
		margin: 10px 0 20px;

		@media (max-width: 767px) {
			font-size: 26px;
		}

		@media (min-width: 768px) and (max-width: 991px) {
			font-size: 30px;
		}
	}
	// .about__body
	&__body {
		color: #444;
		font-size: 16px;
		line-height: 1.4;

		@media (min-width: 992px) {
			font-size: 17px;
			font-weight: 500;
		}
	}
}

.experience {
	position: absolute;
	right: -25px;
	bottom: -90px;
	border: 15px solid $white;
	height: 220px;
	width: 220px;
	border-radius: 50%;
	background: linear-gradient(20deg, var(--main-color-two) 23%, #02a3f4 98%);
	padding: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: $white;
	font-size: 17px;
	font-weight: 500;
	line-height: 1.1;
}

/* max width 767px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.experience {
		right: 0;
		bottom: -20px;
		height: 170px;
		width: 170px;
		font-size: 14px;
	}
}

/* max width 767px */
@media only screen and (min-width: 320px) and (max-width: 991px) {
	.experience {
		right: 0;
		bottom: -20px;
		height: 150px;
		width: 150px;
		padding: 10px;
		font-size: 12px;
		font-weight: 400;
	}
}

.block-hdr {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-end;
	padding-top: 15px;
	padding-bottom: 15px;

	a {
		margin-left: 45px;
	}
}

.gline {
	height: 5px;
	background: linear-gradient(45deg, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
	margin: 16px 0;
	flex: 100%;
}

.slider-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;

	.h2 {
		margin-right: 45px;
	}
}

.slider-item-photo {
	position: relative;

	a {
		padding-top: 100%;
		width: 100%;
		height: 0;
		position: relative;
		margin-right: 15px;
	}

	span {
		color: #000;
		line-height: 1.5;
	}

	img {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		object-fit: cover;
	}
}

.tns-nav {
	margin-top: 15px;
	margin-bottom: 0;
	padding: 0;
	text-align: center;
	--btn-color: #{$gray};

	@include when-inside(".bgr-orange") {
		--btn-color: #{$white};
	}

	button {
		width: 16px;
		height: 16px;
		padding: 0;
		border: none;
		margin-left: 8px;
		line-height: 1;
		background: var(--btn-color);

		&.tns-nav-active {
			background: var(--main-color-one);
		}
	}
}

#map {
	min-height: 600px;
	height: 600px;
}

@media only screen and (max-width: 767px) {
	#map {
		height: 80vh;
	}
}

/* -------------------------------------
		Footer Section
------------------------------------- */

.footer {
	background: url(../img/footer-bg.jpg) center / cover no-repeat fixed;
	padding: 90px 0 50px;
	overflow-y: hidden;

	// .footer__col
	&__col {
		p {
			font-size: 13px;
			color: #999;
		}
	}

	// .footer__h
	&__h {
		font-family: $family-headers;
		font-size: 20px;
		font-weight: 600;
		position: relative;
		color: $white;
		padding-bottom: 10px;
		margin-bottom: 15px;

		&::before {
			position: absolute;
			content: "";
			left: 0;
			bottom: 0;
			width: 60px;
			border: 1px solid var(--main-color-one);
		}
	}

	// .footer__copy
	&__copy {
		font-family: $family-headers;
		color: $white;
		font-weight: 500;
		margin-bottom: 7px;
		font-size: 13px;
	}
}

.footer__col .social {
	li {
		margin: 0 2px;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 40px;
			width: 40px;
			background: $white;
			border-radius: 50%;
			transition: 0.3s;

			svg {
				width: 16px;
				fill: var(--main-color-one);
				transition: 0.3s;
			}

			@include on-hover {
				background: var(--main-color-one);

				svg {
					fill: $white;
				}
			}
		}
	}
}

.f-links ul li a {
	color: $white;
	font-size: 14px;
	padding: 5px 0;
}

.f-links ul li a:hover {
	color: var(--main-color-one);
}

.f-address {
	background: url(../img/map.png);
	background-repeat: no-repeat;
	background-position: right;
}

.f-address ul li a {
	color: $white;
	font-size: 14px;
}

.f-address ul li a i {
	margin-right: 10px;
	color: var(--main-color-one);
}

/* max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.f-links {
		margin-top: 50px;
	}
}

/* max width 767px */
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.f-links {
		margin-top: 50px;
	}
	.subscribe button {
		width: 50px;
	}
}

/* max width 767px */
@media only screen and (min-width: 320px) and (max-width: 575px) {
	.f-address {
		margin-top: 50px;
	}
}

/* -------------------------------------
		Online Form Page
------------------------------------- */
.online-form label {
	font-size: 14px;
	font-weight: 800;
}

.online-form label span {
	font-size: 12px;
	color: var(--main-color-one);
}

.online-form input,
.online-form select,
.online-form textarea {
	border-radius: 0;
	padding: 15px;
}

.online-form button {
	width: 150px;
	border-radius: 0;
}

.online-form-right {
	padding-left: 30px;
}

.online-form-right .card {
	background: var(--main-color-two);
	padding: 50px;
}

.online-form-right ul {
	border-bottom: 1px solid #ddd;
}

.online-form-right ul li {
	padding: 20px 0;
	color: $white;
	font-weight: 600;
}

.online-form-right ul li span {
	color: $white;
}

/* max width 992px */
@media only screen and (min-width: 320px) and (max-width: 992px) {
	.online-form-right {
		padding-left: 0;
	}
}

.logo span {
	font-size: 26px;
	color: $white;
	line-height: 24px;
	text-transform: uppercase;
	padding: 4px 15px;
	font-weight: bold;
	text-shadow: 0 0 5px #666;
	text-align: center;
}

.gallery {
	&_padding {
		padding: 45px 0 60px 0;
	}

	span.img {
		display: block;
		height: 0;
		padding-top: 100%;
		width: 100%;
		position: relative;
	}

	span.img img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: contain;
	}

	p {
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}

.map {
	// .map__header
	&__header {
		margin-bottom: -100px;
		position: relative;
		z-index: 10;

		.h2 {
			display: inline-block;
			background: rgba(255, 255, 255, 0.7);
			padding: 8px 15px 8px 0;
			margin-top: 15px;
			border-radius: 6px;
		}
	}
}

.nav-search {
	padding: 10px 0;

	@media (min-width: 992px) {
		padding: 13px 0 0;
	}

	.search-field {
		@media (max-width: 767px) {
			padding: 10px 0 10px 16px !important;
		}
	}
}

form.search-form {
	background: #f4f4f4;
	border-radius: 30px;
}

input#search-form-1 {
	background: transparent;
	border: none;
	padding: 2px 0 2px 8px;
	max-width: 120px;
	font-size: 90%;
	letter-spacing: -0.5px;
}

button.search-submit {
	border: none;
	background: transparent;
	padding: 2px 8px 2px 0;

	svg {
		width: 24px;
		height: 24px;
	}
}

.search-list article .entry-content {
	color: #777;
	font-size: 90%;
}

@media only screen and (max-width: 767px) {
	form.search-form {
		background: #f4f4f4;
		border-radius: 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	input#search-form-1 {
		background: transparent;
		border: none;
		padding: 2px 0 2px 8px;
		max-width: none;
		font-size: 90%;
		letter-spacing: -0.5px;
		width: auto;
		flex: 1;
	}

	.news-home .block-hdr {
		order: -1;
	}
	.news-home .gline {
		order: 1;
	}

	.block-hdr {
		justify-content: space-between !important;
	}

	.person.person_main {
		background-position: left top;
	}

	.block-hdr a {
		margin-left: 0;
		font-size: 14px;
	}

	.header-inner h1 {
		font-size: 26px;
	}
}

.video-adaptive {
	position: relative;
	padding-bottom: 56.25%;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.articles {
	margin-top: 85px;
}

.card-preview {
	font-size: 16px;
	line-height: 1.6;
	flex: 1;
}

.nav-item {
	a {
		@media (min-width: 768px) {
			padding: 20px 0 0;
		}

		@media (min-width: 1200px) {
			padding: 35px 0 20px;
		}
	}

	&.social {
		margin-right: 10px;

		@media (max-width: 767px) {
			flex: 1 !important;
		}

		svg {
			fill: #555;
			width: 20px;
			height: 18px;

			@media (min-width: 992px) {
				fill: $white;

				@include when-inside(".navbar-area.sticky") {
					fill: #555;
				}
			}
		}

		a {
			@include on-hover {
				svg {
					fill: var(--main-color-one);
				}
			}
		}
	}

	.dd-menu {
		position: relative;

		&:not(.collapsed) {
			@media (max-width: 991px) {
				&::after {
					transform: rotate(315deg) scaleY(-1);
				}
			}
		}

		&::after {
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-right-style: solid;
			border-right-width: 1px;
			content: "";
			width: 8px;
			height: 8px;
			margin: -6px 0 0 8px;
			transform: rotate(45deg);
			transition: all 0.3s ease-out 0s;
		}

		@include on-hover {
			&::after {
				border-color: var(--main-color-one);
			}
		}
	}
}

//** News
.news-home {
	@media (min-width: 768px) {
		margin-top: -75px;
	}
}

//** card
.c-card {
	position: relative;
	height: 100%;
	box-shadow: 3px 3px 10px #ddd;
	border: 0;
	border-radius: 0;
	background: transparent;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;

	// .c-card__link
	&__link {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	// .c-card__img
	&__img {
		height: 0;
		position: relative;
		overflow: hidden;
		background: $white;
		z-index: 100;
		padding-top: 110%;

		img {
			position: absolute;
			top: 10%;
			left: 10%;
			width: 80%;
			height: 90%;
			object-fit: cover;
			object-position: top;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			height: 30%;
			width: 100%;
			transition: 1s;
			transform: rotate(45deg);
			z-index: 10;
		}

		&::before {
			top: 100%;
			left: 0;
		}

		&::after {
			top: 0;
			left: -100%;
		}

		// .c-card__img_full
		&_full {
			padding-top: 65%;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: top;
			}
		}
	}

	@include on-hover {
		.c-card__img {
			&::before {
				top: -93%;
				height: 100%;
				background: rgba(1, 94, 234, 0.7);
			}

			&::after {
				left: 100%;
				height: 100%;
				background: rgba(241, 39, 17, 0.7);
			}
		}
	}

	// .c-card__body
	&__body {
		display: flex;
		flex-direction: column;
		flex: 1;
		position: relative;
		background: $white;
		padding: 15px 10% 30px;
		transition: 0.5s;
		z-index: 1;

		object {
			margin-top: auto;
		}
	}

	// .c-card__header
	&__header {
		color: #f19801;
	}

	// .c-card__name
	&__name {
		color: #111;
		font-family: $family-headers;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.5;
		margin: 10px 0 8px;
		flex: 0;
	}

	// .c-card__text
	&__text {
		color: #777;
		font-family: $family-headers;
		font-size: 14px;
		font-weight: 400;
		padding: 15px 0 8px;
		flex: 0;
	}
}

//** article
.article {
	font-family: $family-headers;
	box-shadow: 0 10px 50px -12px rgba(0, 0, 0, 0.3);
	position: relative;
	transition: 0.3s;
	overflow: hidden;
	padding: 15px;
	height: 100%;
	margin: 25px 0 20px;
	font-size: 16px;
	font-weight: 600;

	&::after {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 90px;
		background: $svg-article-shape 0 100% no-repeat;
		background-size: cover;

		@media (min-width: 576px) {
			height: 60px;
		}
	}

	// .article__img
	&__img {
		height: 0;
		padding-top: 65%;
		position: relative;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
		}
	}

	// .article__body
	&__body {
		padding: 0 15px;
	}

	// .article__link
	&__link {
		margin-bottom: 40px;

		@media (min-width: 576px) {
			margin-bottom: 0;
		}

		@include on-hover {
			.article__preview {
				color: var(--main-color-one);
			}
		}
	}

	// .article__name
	&__name {
		color: #345;
		margin-top: 15px;
	}

	// .article__text
	&__text {
		margin: 15px 0 30px;
		color: #f19801;
		line-height: 1.4;
		font-size: 16px;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	// .article__preview
	&__preview {
		color: #111;
		font-size: 15px;
		font-weight: 500;
		line-height: 1.4;
		transition: color $transition-default;
	}
}

//** info

.info {
	display: flex;
	flex-wrap: wrap;
	color: $white;
	position: relative;
	padding: 5px 0;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: -100%;
		background: #f19801;
		z-index: -1;
	}

	// .info__img
	&__img {
		padding-right: 20px;
		width: 35%;
		min-width: 200px;
		margin: 0 auto;

		@media (min-width: 768px) {
			margin: 0;
		}
	}

	// .info__hdr
	&__hdr {
		padding: 20px 20px 20px 10px;
	}

	// .info__name
	&__name {
		letter-spacing: 1px;
		font-size: 120%;
		padding-bottom: 15px;
		line-height: 1;
	}

	// .info__position
	&__position {
		padding-bottom: 15px;
		position: relative;
		line-height: 1.3;

		&::before {
			position: relative;
			content: " ";
			display: block;
			height: 1px;
			width: 20%;
			background: $white;
			margin-bottom: 15px;
		}

		&::after {
			position: relative;
			content: " ";
			display: block;
			height: 1px;
			width: 20%;
			background: $white;
			margin-top: 15px;
		}
	}

	// .info__contact
	&__contact {
		font-size: 14px;
		line-height: 1.3;
		margin-bottom: 8px;

		@media (min-width: 768px) {
			font-size: 18px;
		}

		a {
			color: $white;

			@include on-hover {
				text-decoration: underline;
			}
		}
	}
}
