<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="footer__col col-lg-4 col-md-6 col-sm-6">
				<div class="f-activity wow fadeInUp" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
					<div class="footer__h">Официальный сайт всероссийского общественного движения «ПАТРИОТЫ РОССИИ»</div>
					<div class="footer__copy">© 2006-2024</div>
					<p>Полное или частичное копирование материалов приветствуется со ссылкой на сайт</p>
					<ul class="social d-flex mt-30">
						<li>
							<a href="https://vk.com/gennadiysemigin" target="_blank">
								<svg>
									<use xlink:href="#social-vk"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="https://ok.ru/group/60737625981019" target="_blank">
								<svg>
									<use xlink:href="#social-ok"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/gennadiysemigin" target="_blank">
								<svg>
									<use xlink:href="#social-fb"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/gennadiysemigin/" target="_blank">
								<svg>
									<use xlink:href="#social-in"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="https://t.me/gennadiysemigin" target="_blank">
								<svg>
									<use xlink:href="#social-tg"></use>
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer__col col-lg-4 col-md-6 col-sm-6">
				<div class="f-address wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
					<div class="footer__h">Приемная</div>
					<p>г. Москва, Смоленский бульвар, 11</p>
					<ul class="mt-20">
						<li><a href="tel:+74992528396">+7 (499) 252-83-96</a></li>
						<!-- <li><a href="javascript:void(0)"><i class="flaticon-mail"></i> patriot-rus@bk.ru</a></li> -->
						<!--li><a href="javascript:void(0)"><i class="flaticon-startup"></i>www.example.com </a></li-->
					</ul>
				</div>
			</div>
			<div class="footer__col col-lg-2 col-md-6 col-6 col-sm-6">
				<div class="f-solutions f-links wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
					<div class="footer__h">Новости</div>
					<ul>
						<li><a href="news.html">Новости</a></li>
						<li><a href="/blog/">Позиция</a></li>
						<li><a href="/photo/">Галерея</a></li>
						<li><a href="https://patriot-rus.ru/">Архив</a></li>
					</ul>
				</div>
			</div>
			<div class="footer__col col-lg-2 col-md-6 col-6 col-sm-6">
				<div class="f-legal f-links wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
					<div class="footer__h">Документы</div>
					<ul>
						<li><a href="/semigin/">Лидер</a></li>
						<li><a href="/leaders/">Центральный совет</a></li>
						<li><a href="regions.html">Отделения</a></li>
						<li><a href="/ustav/">Устав</a></li>
						<li><a href="/ustav/">Стратегия развития</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>

<button id="scrollToTop" class="scroll-top" aria-label="Вверх"></button>