<section class="person person_main">
	<div class="person__overlay">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-7 offset-0 offset-md-5">
					<div class="hero-content">
						<h1 class="text-uppercase wow fadeInLeft" data-wow-delay=".6s">Мы все – патриоты России</h1>
						<h3 class="wow fadeInLeft" data-wow-delay=".9s">Жить в России,<br>работать в России,<br>гордиться Россией!</h3>
						<span class="title wow fadeInLeft" data-wow-delay=".3s"><b>Геннадий Юрьевич СЕМИГИН,</b></span>
						<span class="sub_title wow fadeInLeft" data-wow-delay=".3s">председатель всероссийского общественного движения «ПАТРИОТЫ РОССИИ»,<br>сопредседатель партии «Справедливая Россия — Патриоты — За правду»,<br>председатель Комитета Госдумы по делам национальностей.</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="news-home">
	<div class="container">
		<div class="row">

			<div class="col-md-6 col-lg-4 mb-20">
				<div class="c-card wow fadeInUp" data-wow-delay=".3s">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img c-card__img_full">
							<img src="@img/dev/news-1.jpg" width="416" height="270" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__header">15 августа 2024 г.</div>
							<div class="c-card__name">Геннадий Баев: «Вместе можем больше. Благодарен каждому за поддержку!»</div>
							<object>
								<a href="/" class="btn btn_orange btn_arrow">Читать</a>
							</object>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 mb-20">
				<div class="c-card wow fadeInUp" data-wow-delay=".3s">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img c-card__img_full">
							<img src="@img/dev/news-2.jpg" width="416" height="270" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__header">15 августа 2024 г.</div>
							<div class="c-card__name">Ирина Ковалева: «С каждым годом все больше юргинцев приобщаются к здоровому образу жизни, к занятиям физкультурой и спортом»</div>
							<object>
								<a href="/" class="btn btn_orange btn_arrow">Читать</a>
							</object>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 mb-20">
				<div class="c-card wow fadeInUp" data-wow-delay=".3s">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img c-card__img_full">
							<img src="@img/dev/news-3.jpg" width="416" height="270" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__header">14 августа 2024 г.</div>
							<div class="c-card__name">В Кемерово открыли мемориал «Дважды Победители»</div>
							<object>
								<a href="/" class="btn btn_orange btn_arrow">Читать</a>
							</object>
						</div>
					</a>
				</div>
			</div>

			<div class="block-hdr justify-content-end">
				<div class="gline"></div>
				<div class="h2">Новости</div>
				<a href="news.html" class="link-all">Смотреть все новости</a>
			</div>
		</div>
	</div>
</section>

<section class="articles">
	<div class="container">
		<div class="row">
			<div class="block-hdr justify-content-start">
				<div class="h2">Позиция</div>
				<a href="/blog/" class="link-all">Смотреть все статьи</a>
				<div class="gline"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-lg-4 col-xl-3 mb-20">
				<div class="article wow fadeInUp" data-wow-delay=".2s">
					<div class="article__img">
						<img src="@img/dev/article-1.jpg" width="276" height="180" alt="">
					</div>
					<div class="article__body">
						<a href="javascript:void(0)" class="article__link">
							<div class="article__name">Геннадий Семигин:</div>
							<div class="article__text">«В Германии решили реанимировать «героев» Второй мировой войны, которые десятки лет во всем мире считались военными преступниками</div>
							<div class="article__preview">Сегодня ни на минуту не прекращается идеологическая война. Немецкий Бундесвер включил германских военных времен Гитлера в список тех, кто может и должен служить примером доблести для сегодняшних военных Германии. Как-то…</div>
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 col-xl-3 mb-20">
				<div class="article wow fadeInUp" data-wow-delay=".2s">
					<div class="article__img">
						<img src="@img/dev/article-2.jpg" width="276" height="180" alt="">
					</div>
					<div class="article__body">
						<a href="javascript:void(0)" class="article__link">
							<div class="article__name">Александр Хлудеев:</div>
							<div class="article__text">«Взятый в плен немец рассказал о приказе фюрера о необходимости уничтожения советского снайпера - на Ивана Кульбертинова была объявлена настоящая охота»</div>
							<div class="article__preview">Легендарный снайпер Иван Николаевич Кульбертинов служил в 23-й отдельной лыжной бригаде 2-й гвардейской воздушно-десантной Проскуровской дивизии. Он родился в селе Тяня Олекминского улуса Якутской области в семье охотника-оленевода. По метрическим…</div>
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 col-xl-3 mb-20">
				<div class="article wow fadeInUp" data-wow-delay=".2s">
					<div class="article__img">
						<img src="@img/dev/article-3.jpg" width="276" height="180" alt="">
					</div>
					<div class="article__body">
						<a href="javascript:void(0)" class="article__link">
							<div class="article__name">Геннадий Семигин:</div>
							<div class="article__text">«С назначением Алексея Дюмина с особыми полномочиями появилась надежда, что террористы будут выдворены из Курской области в ближайшее время»</div>
							<div class="article__preview">Сегодня девятый день, как боевики ВСУ вторглись в Курскую область. В регионе введен режим чрезвычайной ситуации федерального значения. Как сообщил на совещании у президента РФ Владимира Путина по ситуации в…</div>
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4 col-xl-3 mb-20">
				<div class="article wow fadeInUp" data-wow-delay=".2s">
					<div class="article__img">
						<img src="@img/dev/article-4.jpg" width="276" height="180" alt="">
					</div>
					<div class="article__body">
						<a href="javascript:void(0)" class="article__link">
							<div class="article__name">Геннадий Семигин:</div>
							<div class="article__text">«Количество выпускников вузов, техникумов и колледжей по строительным специальностям необходимо увеличить минимум в два раза»</div>
							<div class="article__preview">Во второе воскресенье августа мы традиционно чествуем представителей самой мирной профессии – строителей. Всего в этой важной отрасли России сегодня занято от 6,8 миллионов до 7,5 миллионов человек, среди которых…</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="gallery mt-120">
	<div class="bgr-orange">
		<div class="container">

			<div class="slider-header">
				<div class="h2">Фотогалерея</div>
				<a href="/photo/" class="link-all">Смотреть всё</a>
				<ul class="controls ms-auto">
					<li class="prev"></li>
					<li class="next"></li>
				</ul>
			</div>

			<div class="slider d-flex justify-content-between">
				<div class="slider-item">
					<div class="slider-item-photo wow fadeInUp" data-wow-delay=".2s">
						<a href="javascript:void(0)">
							<img src="@img/dev/gal-1-1.jpg" alt="">
						</a>
						<span>Геннадий Семигин принял участие в торжественном открытии в Государственной Думе РФ выставки лучших фотографий конкурса «Дети России»</span>
					</div>
				</div>

				<div class="slider-item">
					<div class="slider-item-photo wow fadeInUp tns-slide-active" data-wow-delay=".2s">
						<a href="javascript:void(0)">
							<img src="@img/dev/gal-1-2.jpg" alt="">
						</a>
						<span>Максим Жуков и активисты Димитровградского местного отделения партии «Справедливая Россия – ПАТРИОТЫ - За правду» устроили для детей центра реабилитации инвалидов-опорников «Доверие» незабываемый праздник</span>
					</div>
				</div>

				<div class="slider-item">
					<div class="slider-item-photo wow fadeInUp tns-slide-active" data-wow-delay=".2s">
						<a href="javascript:void(0)">
							<img src="@img/dev/gal-1-3.jpg" alt="">
						</a>
						<span>Владислав Солдатов вместе с активистами ОНФ передал мобилизованным, находящимся в зоне СВО, партию необходимого оборудования</span>
					</div>
				</div>

				<div class="slider-item">
					<div class="slider-item-photo wow fadeInUp tns-slide-active" data-wow-delay=".2s">
						<a href="javascript:void(0)">
							<img src="@img/dev/gal-1-4.jpg" alt="">
						</a>
						<span>Внук Арсена Фадзаева победил на первенстве Москвы по боксу среди юношей 13-14 лет. Его тоже зовут Арсен Фадзаев</span>
					</div>
				</div>

				<div class="slider-item">
					<div class="slider-item-photo wow fadeInUp tns-slide-active" data-wow-delay=".2s">
						<a href="javascript:void(0)">
							<img src="@img/dev/gal-1-5.jpg" alt="">
						</a>
						<span>В ходе XII Съезда партии «Справедливая Россия – ПАТРИОТЫ – За правду» состоялась отправка 12 тонн гуманитарного груза в зону СВО, в региональные отделения СРЗП в Херсонской и Запорожской областей: продуктов, медикаментов, одежды, бытовой химии, средств личной гигиены, квадрокоптеров и других спецсредств, а также двух автомобилей «Газель»</span>
					</div>
				</div>

				<div class="slider-item">
					<div class="slider-item-photo wow fadeInUp" data-wow-delay=".2s">
						<a href="javascript:void(0)">
							<img src="@img/dev/gal-1-6.jpg" alt="">
						</a>
						<span>Геннадий Баев в рамках выездного заседания комитета по промышленности, строительству, транспорту и ЖКХ Курской областной Думы посетил Михайловский горно-обогатительный комбинат</span>
					</div>
				</div>

			</div>

		</div>
</section>

<section class="gallery gallery_padding bgr-gray">
	<div class="container">

		<div class="slider-header">
			<div class="h2">Депутаты-патриоты</div>
			<a href="members.html" class="link-all">Все депутаты</a>
			<ul class="controls ms-auto">
				<li class="prev"></li>
				<li class="next"></li>
			</ul>
		</div>

		<div class="slider d-flex justify-content-between">
			<div class="slider-item">
				<div class="c-card wow fadeInUp" data-wow-delay=".3s">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img">
							<img src="@img/dev/members-1.jpg" width="400" height="400" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__name">Семигин Геннадий Юрьевич</div>
						</div>
					</a>
				</div>
			</div>

			<div class="slider-item">
				<div class="c-card wow fadeInUp" data-wow-delay=".3s">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img">
							<img src="@img/dev/placeholder-person.jpg" width="400" height="400" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__name">Хакимов Загир Ахсанович</div>
						</div>
					</a>
				</div>
			</div>

			<div class="slider-item">
				<div class="c-card wow fadeInUp" data-wow-delay=".3s">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img">
							<img src="@img/dev/placeholder-person.jpg" width="400" height="400" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__name">Скворцов Юрий Петрович</div>
						</div>
					</a>
				</div>
			</div>

			<div class="slider-item">
				<div class="c-card wow fadeInUp" data-wow-delay=".3s">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img">
							<img src="@img/dev/placeholder-person.jpg" width="400" height="400" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__name">Кулебакин Евгений Владимирович</div>
						</div>
					</a>
				</div>
			</div>

			<div class="slider-item">
				<div class="c-card wow fadeInUp" data-wow-delay=".3s">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img">
							<img src="@img/dev/placeholder-person.jpg" width="400" height="400" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__name">Баев Геннадий Александрович</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="about mt-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="about__img mt-50">
					<div class="wow fadeInLeft" data-wow-delay=".2s">
						<img src="@img/dev/about.jpg" width="650" height="634" alt="">
					</div>
					<div class="experience wow fadeInRight" data-wow-delay=".3s">
						Геннадий Семигин<br>—<br>лидер движения «ПАТРИОТЫ РОССИИ»
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6">
				<div class="about__content mt-50">
					<div class="mb-30 wow fadeInRight" data-wow-delay=".2s">
						<div class="about__pre">О движении</div>
						<div class="about__h h2">Наша цель — сделать Россию страной №1 в мире</div>
						<div class="about__body">
							<p>Летом 2021 года Геннадий Семигин инициировал создание всероссийского общественного движения «ПАТРИОТЫ РОССИИ». 29 июля2021 года в Москве состоялся его учредительный съезд. Открывая заседание, Геннадий Семигин отметил, что российская государственность во все времена основывалась на глубоком патриотизме.</p>
							<p>«В условиях сегодняшнего кризиса и беспрецедентного давления Запада на Россию, мы сочли необходимым создать всероссийское общественное движение «ПАТРИОТЫ РОССИИ».</p>
							<p>Лидером движения единогласно был избран Геннадий Семигин. Делегаты учредительного съезда избрали также Центральный совет движения, в который кроме лидера вошли: Рушания Аббасова, Лариса Айдинова, Светлана Афанасьева, Евгений Басенко, Сергей Глотов, Аскер Кештов, Андрей Ковалев, Надежда Корнеева, Юлия Саморока, Юрий Скворцов, Ольга Ширковец, Олег Широков.</p>
							<p>Программным документом, определяющим цели и задачи деятельности движения, утверждена «Стратегия развития России», разработанная Геннадием Семигиным.</p>
							<p class="redLink"><i class="fa fa-paperclip" aria-hidden="true"></i><a href="https://spravedlivo.ru/5_130802.html">ОСНОВНЫЕ НАПРАВЛЕНИЯ РАЗВИТИЯ РОССИЙСКОЙ ФЕДЕРАЦИИ. НОВЫЙ КУРС</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="gallery gallery_padding bgr-orange mt-120">
	<div class="container">

		<div class="slider-header">
			<div class="h2">Центральный совет</div>
			<a href="members.html" class="link-all">Все члены совета</a>
			<ul class="controls ms-auto">
				<li class="prev"></li>
				<li class="next"></li>
			</ul>
		</div>

		<div class="slider d-flex justify-content-between">

			<div class="slider-item">
				<div class="c-card wow fadeInUp" data-wow-delay=".3s">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img">
							<img src="@img/dev/members-1.jpg" width="400" height="400" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__name">Семигин Геннадий Юрьевич</div>
						</div>
					</a>
				</div>
			</div>

			<div class="slider-item">
				<div class="c-card wow fadeInUp" data-wow-delay=".3s">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img">
							<img src="@img/dev/placeholder-person.jpg" width="400" height="400" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__name">Аббасова Рушания Минулловна</div>
						</div>
					</a>
				</div>
			</div>

			<div class="slider-item">
				<div class="c-card wow fadeInUp" data-wow-delay=".3s">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img">
							<img src="@img/dev/placeholder-person.jpg" width="400" height="400" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__name">Айдинова Лариса Юрьевна</div>
						</div>
					</a>
				</div>
			</div>

			<div class="slider-item">
				<div class="c-card wow fadeInUp" data-wow-delay=".3s">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img">
							<img src="@img/dev/placeholder-person.jpg" width="400" height="400" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__name">Афанасьева Светлана Петровна</div>
						</div>
					</a>
				</div>
			</div>

			<div class="slider-item">
				<div class="c-card wow fadeInUp" data-wow-delay=".3s">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img">
							<img src="@img/dev/placeholder-person.jpg" width="400" height="400" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__name">Глотов Сергей Александрович</div>
						</div>
					</a>
				</div>
			</div>

		</div>
	</div>
</section>

<section class="map">
	<div class="container">
		<div class="row">
			<div class="map__header">
				<div class="h2">Мы в регионах</div>
			</div>
		</div>
	</div>
	<div id="map"></div>
	<script src="//api-maps.yandex.ru/2.1/?lang=ru-RU&load=package.full"></script>
	<script>
		ymaps.ready(init);

		function init() {
			var myMap = new ymaps.Map('map', {
				center: [61.698394, 99.502091],
				zoom: 3,
				behaviors: ['default', 'scrollZoom'],
				controls: ['zoomControl', 'typeSelector']
			});

			myMap.behaviors.disable('scrollZoom');

			myCollection = new ymaps.GeoObjectCollection(null, { preset: 'islands#yellowIcon' });
			myMap.geoObjects.add(myCollection);

			var myPlacemark1 = new ymaps.Placemark([54.328200, 48.386600], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/ulyanovskoe-regionalnoe-otdelenie/>Ульяновское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([62.028103, 129.732663], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/yakutskoe-regionalnoe-otdelenie/>Якутское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([56.146277, 47.251079], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/chuvashskoe-regionalnoe-otdelenie/>Чувашское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([55.159902, 61.402554], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/chelyabinskoe-regionalnoe-otdelenie/>Челябинское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([43.318366, 45.692421], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/chechenskoe-regionalnoe-otdelenie/>Чеченское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([55.796127, 49.106414], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/tatarstanskoe-regionalnoe-otdelenie/>Татарстанское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([53.195878, 50.100202], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/samarskoe-regionalnoe-otdelenie/>Самарское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([54.629565, 39.741917], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/ryazanskoe-regionalnoe-otdelenie/>Рязанское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([47.222078, 39.720358], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/rostovskoe-regionalnoe-otdelenie/>Ростовское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([53.195042, 45.018316], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/penzenskoe-regionalnoe-otdelenie/>Пензенское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([52.970756, 36.064358], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/orlovskoe-regionalnoe-otdelenie/>Орловское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([51.768205, 55.096964], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/orenburgskoe-regionalnoe-otdelenie/>Оренбургское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([56.326797, 44.006516], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/nizhegorodskoe-regionalnoe-otdelenie/>Нижегородское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([68.970663, 33.074918], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/murmanskoe-regionalnoe-otdelenie/>Мурманское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([55.737920, 37.650980], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/moskovskoe-oblastnoe-regionalnoe-otdelenie/>Московское областное региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([55.755819, 37.617644], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/moskovskoe-gorodskoe-regionalnoe-otdelenie/>Московское городское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([51.730846, 36.193015], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/kurskoe-regionalnoe-otdelenie/>Курское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([44.948237, 34.100318], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/krymskoe-regionalnoe-otdelenie/>Крымское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([55.355198, 86.086847], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/kemerovskoe-regionalnoe-otdelenie/>Кемеровское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([44.226863, 42.046770], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/karachaevo-cherkesskoe-regionalnoe-otdelenie/>Карачаево-Черкесское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([46.307743, 44.269759], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/kalmytskoe-regionalnoe-otdelenie/>Калмыцкое региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([43.485259, 43.607072], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/kabardino-balkarckoe-regionalnoe-otdelenie/>Кабардино-Балкарcкое региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([52.289588, 104.280606], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/irkutskoe-regionalnoe-otdelenie/>Иркутское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([42.983060, 47.504682], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/dagestanskoe-regionalnoe-otdelenie/>Дагестанское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([51.660786, 39.200269], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/voronezhskoe-regionalnoe-otdelenie/>Воронежское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([56.129057, 40.406635], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/vladimirskoe-regionalnoe-otdelenie/>Владимирское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([50.599314, 36.589846], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/belgorodskoe-regionalnoe-otdelenie/>Белгородское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([54.750037, 55.983583], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/bashkortostanskoe-regionalnoe-otdelenie/>Башкортостанское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

			var myPlacemark1 = new ymaps.Placemark([44.608211, 40.102860], { iconContent: ' ', balloonContent: '<a href=https://patriotrus.ru/regions/adygejskoe-regionalnoe-otdelenie/>Адыгейское региональное отделение</a>' }, { preset: 'islands#blueGovernmentIcon', iconColor: '#472624' });
			myCollection.add(myPlacemark1);

		}
	</script>
</section>