<section class="header-inner mb-50">
	<div class="overlay">
		<div class="container">
			<div class="row ">
				<h1 class="text-light text-center">Депутаты-патриоты</h1>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">

			<div class="col-lg-4 mb-45">
				<div class="c-card">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img">
							<img src="@img/dev/placeholder-person.jpg" width="400" height="400" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__text">Чувашская Республика</div>
							<div class="c-card__name">Солдатов Владислав Димитриевич</div>
							<div class="c-card__text">Депутат Государственного Совета Чувашской Республики, член Комитета Госсовета по аграрным вопросам, природопользованию и экологии; секретарь Комитета Госсовета по жилищной политике и инфраструктурному развитию; член Президиума Государственного Совета; руководитель фракции Социалистической партии «Справедливая Россия – Патриоты – За правду» в Государственном Совете Чувашской Республики.</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 mb-45">
				<div class="c-card">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img">
							<img src="@img/dev/placeholder-person.jpg" width="400" height="400" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__text">Республика Хакасия</div>
							<div class="c-card__name">Ширковец Ольга Валериановна</div>
							<div class="c-card__text">Депутат Верховного Совета Республики Хакасия VII созыва от партии «Патриоты России», член комитета по конституционному законодательству, государственному строительству, законности и правопорядку, член Совета Палаты депутатов партии «Справедливая Россия - Патриоты - За правду».</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 mb-45">
				<div class="c-card">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img">
							<img src="@img/dev/placeholder-person.jpg" width="400" height="400" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__text">Республика Северная Осетия-Алания</div>
							<div class="c-card__name">Дидаров Сослан Владимирович</div>
							<div class="c-card__text">Депутат Собрания представителей г. Владикавказ Республики Северная Осетия-Алания VII созыва, член постоянных комиссий по бюджету и экономической политике; по науке, образованию, культуре, молодежной и информационной политике и спорту.</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 mb-45">
				<div class="c-card">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img">
							<img src="@img/dev/placeholder-person.jpg" width="400" height="400" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__text">Республика Северная Осетия-Алания</div>
							<div class="c-card__name">Гатиев Тамерлан Викторович</div>
							<div class="c-card__text">Депутат Собрания представителей г. Владикавказа Республики Северная Осетия-Алания VII созыва, заместитель председателя постоянной комиссии по управлению муниципальной собственностью и градостроительству; член постоянной комиссии по бюджету и экономической политике.</div>
						</div>
					</a>
				</div>
			</div>

		</div>
	</div>
</section>