<section class="header-inner mb-50">
	<div class="overlay">
		<div class="container">
			<div class="row ">
				<h1 class="text-light text-center">Новости движения</h1>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">

			<div class="col-lg-3 col-md-6 mb-30">
				<div class="c-card wow fadeInUp" data-wow-delay=".3s">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img c-card__img_full">
							<img src="@img/dev/news-1.jpg" width="416" height="270" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__header">15 августа 2024 г.</div>
							<div class="c-card__name">Геннадий Баев: «Вместе можем больше. Благодарен каждому за поддержку!»</div>
							<object>
								<a href="/" class="btn btn_orange btn_arrow">Читать</a>
							</object>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mb-30">
				<div class="c-card wow fadeInUp" data-wow-delay=".3s">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img c-card__img_full">
							<img src="@img/dev/news-2.jpg" width="416" height="270" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__header">15 августа 2024 г.</div>
							<div class="c-card__name">Ирина Ковалева: «С каждым годом все больше юргинцев приобщаются к здоровому образу жизни, к занятиям физкультурой и спортом»</div>
							<object>
								<a href="/" class="btn btn_orange btn_arrow">Читать</a>
							</object>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mb-30">
				<div class="c-card wow fadeInUp" data-wow-delay=".3s">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img c-card__img_full">
							<img src="@img/dev/news-3.jpg" width="416" height="270" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__header">14 августа 2024 г.</div>
							<div class="c-card__name">В Кемерово открыли мемориал «Дважды Победители»</div>
							<object>
								<a href="/" class="btn btn_orange btn_arrow">Читать</a>
							</object>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mb-30">
				<div class="c-card wow fadeInUp" data-wow-delay=".3s">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img c-card__img_full">
							<img src="@img/dev/news-2.jpg" width="416" height="270" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__header">15 августа 2024 г.</div>
							<div class="c-card__name">Ирина Ковалева: «С каждым годом все больше юргинцев приобщаются к здоровому образу жизни, к занятиям физкультурой и спортом»</div>
							<object>
								<a href="/" class="btn btn_orange btn_arrow">Читать</a>
							</object>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mb-30">
				<div class="c-card wow fadeInUp" data-wow-delay=".3s">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img c-card__img_full">
							<img src="@img/dev/news-3.jpg" width="416" height="270" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__header">14 августа 2024 г.</div>
							<div class="c-card__name">В Кемерово открыли мемориал «Дважды Победители»</div>
							<object>
								<a href="/" class="btn btn_orange btn_arrow">Читать</a>
							</object>
						</div>
					</a>
				</div>
			</div>

		</div>
	</div>
</section>