<section class="header-inner mb-50">
	<div class="overlay">
		<div class="container">
			<div class="row ">
				<h1 class="text-light text-center">Региональные отделения движения</h1>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">

			<div class="col-lg-4 mb-45">
				<div class="c-card">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img">
							<img src="@img/dev/placeholder-person.jpg" width="400" height="400" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__header">Адыгейское региональное отделение</div>
							<div class="c-card__text">председатель регионального отделения</div>
							<div class="c-card__name">Зеушев Айдамеркан Джамбекович</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 mb-45">
				<div class="c-card">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img">
							<img src="@img/dev/placeholder-person.jpg" width="400" height="400" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__header">Башкортостанское региональное отделение</div>
							<div class="c-card__text">председатель регионального отделения</div>
							<div class="c-card__name">Хакимов Загир Ахсанович</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 mb-45">
				<div class="c-card">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img">
							<img src="@img/dev/placeholder-person.jpg" width="400" height="400" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__header">Белгородское региональное отделение</div>
							<div class="c-card__text">председатель регионального отделения</div>
							<div class="c-card__name">Запрягайло Александр Митрофанович</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 mb-45">
				<div class="c-card">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img">
							<img src="@img/dev/placeholder-person.jpg" width="400" height="400" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__header">Башкортостанское региональное отделение</div>
							<div class="c-card__text">председатель регионального отделения</div>
							<div class="c-card__name">Хакимов Загир Ахсанович</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 mb-45">
				<div class="c-card">
					<a href="javascript:void(0)" class="c-card__link">
						<div class="c-card__img">
							<img src="@img/dev/placeholder-person.jpg" width="400" height="400" alt="">
						</div>
						<div class="c-card__body">
							<div class="c-card__header">Адыгейское региональное отделение</div>
							<div class="c-card__text">председатель регионального отделения</div>
							<div class="c-card__name">Зеушев Айдамеркан Джамбекович</div>
						</div>
					</a>
				</div>
			</div>

		</div>
	</div>
</section>